# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Otros
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar